.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: white;   }
.wall          { background: rgb(24, 247, 0);   }
.floater	   { background: rgb(24, 247, 0);	}
.actor{position: absolute;}
.player{background: white;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
